body {
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    border: 1px solid #000;
    margin-bottom: 10px;
    flex-flow: wrap;
    flex: 3;
    padding: 5px;
}
.flex-12 {
    border: 1px solid #000;
    display: flex;
    flex: 0 0 100%;
    background: #A1C349;
}
.flex-12:first-child {
    border-bottom: 0;
}
.flex-6 {
    border: 1px solid #000;
    flex: 2;
    background: #2A3C24;
}
.flex-6:first-child {
    margin-right: 5px;
}
.navigation-bar {
    margin: auto;
    flex: 0 0 50%;
}
.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}
li {
    text-align: center;
    background: #CAD593;
    font-size: 22px;
    border: 1px solid #000;
    border-right: 0;
    flex: 1 1 0px;
    
}
.navigation-item {
    padding: 10px;
    flex: 2 1 auto;
}
li:last-child {
    border-right: 1px solid #000;
}
li:hover {
    background-color: #a8be3a;
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {
    color: #000;
}
.hamburger {
    display: none;
}


@media (max-width: 640px){
    .hamburger {
        padding: 20px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: fixed;
        z-index: 2;
    }
    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }
    .hamburger-inner {
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .1s .2s ease-in-out;
    }
    .hamburger-inner::before,
    .hamburger-inner::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        transition: transform .2s .2s ease-in-out;
    }

    .hamburger-inner::before {
        top: -10px;
    }
    .hamburger-inner::after {
        top: 10px;
    }

    /* .hamburger-active .hamburger-inner {
        background-color: transparent;
    }
    .hamburger-active .hamburger-inner:before {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger-active .hamburger-inner:after {
        transform: translateY(-10px) rotate(-45deg);
    } */
    .hamburger-active {
        display: none;
    }
    .navigation-bar ul{
        margin: -100%;
    }
    .navigation-active ul{
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        /* transition: transform .5s ease-in-out;
        transform: ; */
    }
    li {
        border: 1px solid black;
        border-top: 0;
    }
    li:first-child{
        border-top: 1px solid black;
    }
    .navigation-item{
        flex: 0;
    }
}
